body {
  padding: 50px;
  background-color: #22466f;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  z-index: 10;
}
h1 {
  color: #f7017c;
  font-size: 50px;
}

h2 {
  color: white;
        tile.style = `background-color: #ecce3e`;
        font-size: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-gap: 0rem;
}

#twirl {
  position: absolute;
  left: 150px;
  top: 400px;
  z-index: 5;
  text-align: center;
}

#player-display {
  color: #f7017c;
  font-size: 30px;
}
